.yith-wcwl-add-to-wishlist {
	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse {
		 .wishlist_icon path{
		 		fill: #e25842;
		 		stroke: #e25842;
		 }
	}
	.yith-wcwl-add-button {
		.wishlist_icon path{
			fill: transparent;
			stroke: $black;

		}
		&:hover {
			.wishlist_icon path{
				stroke: #e25842;
			}
		}
	}
	&.exists {
		.yith-wcwl-wishlistexistsbrowse {
			display: block;
		}
	}
}
#yith-wcwl-form {
	.wishlist-title {
		display: none;
	}
}
.yith_wcwl_wishlist_footer {
	.yith-wcwl-share {
		ul {
			list-style: none;
			li {
				display: inline-block;

				a {
					display: block;
					font-size: 18px;
					padding-right: 5px;
					margin-right: 10px;
					@each $profile, $color in $social {
					  &.#{$profile} {
					  	&:hover {
					  		color: $color;
					  	}
					  }
					}
				}
			}
		}
	}
}